<div class="row d-flex justify-content-around">
  <%= render 'admin/shared/side_bar' %>
  <div class="col-8 d-flex flex-column align-items-center">
    <h1>Dashboard</h1>
    <h2>Nombre d'utilisateurs enregistrés: <%= @users.count %></h2>
    <h2>Nombre de testsdisponibles: <%= @tests.count %></h2>
    <h2>Nombre de tests réalisés: <%= @user_tests.count %></h2>
  </div>
</div>
