<div class="d-flex flex-row justify-content-around">
  <%= link_to new_test_game_path(@test.name) do %>
    <div class="buttons button-dark">Créer une partie</div>
  <% end %>
  <%= link_to test_join_game_path(@test.name) do %>
    <div class="buttons button-dark">Joindre une partie</div>
  <% end %>
</div>
