.card-category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.buttons.button-category {
  position: relative;
  height: 150px;
  width: 400px;
  transition: 0.5s;
}
.button-category .test-info {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #41403E;
  opacity: 0.4;
  color: white;
  font-size: 36px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.buttons.button-test {
  display: none;
  border:solid 5px #41403E;
  position: relative;
  font-size: 36px;
  height: 100px;
  width: 350px;
  transition: 0.5s;
}

.card-category:hover {
  justify-content: space-between;
  padding: 100px 0;
  width: 100%;
  .buttons.button-category {
    width: 550px;
    height: 200px;
    font-size: 80px;
    animation:1s translation-X linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    z-index: 1000;
  }
  .buttons.button-test {
  display: flex;
  animation:1s translationX linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  z-index: 1000;
  }
  .buttons.button-test:hover {
    scale: 1.2;
  }
}

@keyframes translationX {
  from {
    transform:translateX(-20vw) translateY(-100px);
    opacity: 0;
  }
  to {
    transform:translateX(0px) translateY(0px);
    opacity: 1;
  }
}
@keyframes translation-X {
  from {
    transform:translateX(20vw) translateY(-100px);
  }
  to {
    transform:translateX(0px) translateY(0px);
  }
}
