.expression {
  display: none !important;
  &.active {
    display: contents !important;
  }
  .proposal {
    flex: 0 0 auto;
    margin: 2rem;
  }
}

#progress-status {
  width: 70%;
  background-color: #ddd;
}

#progressBar {
  width: 2%;
  height: 20px;
  background-color: #4c77af;
}

.lecturedanslesyeux {
  .answers {
    flex-direction: row;
  }
  .text-field-dark {
    min-width: 300px;
  }
  .correct {
    color: green;
    font-weight: bold;
  }
  .incorrect {
    color: red;
    font-weight: bold;
  }
  .button-dark {
    margin-top: 2rem;
  }
}

#lectureYeuxSolution {
  &.modal {
    --bs-modal-width: 55vw;
  }
}

.expressions-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
