<div class="listedemots" data-controller="counter" data-counter-duration="<%= @test.duration %>" >
  <h1>Chrono: <span id="counter" data-counter-target="time">fezf</span></h1>
  <%= simple_form_for [@test, @user_test], url: test_user_tests_path(@test.name) do |f| %>
    <div class="col-auto">
        <p>Ecrivez vos réponses ci-dessous:</p>
        <%= f.input :answer, label: false, :input_html => { 'rows' => 20, class: 'input' } %>
    </div>
    <div >
        <%= f.submit "Confirm", class: "btn btn-ghost", disabled: true %>
    </div>
  <% end %>
</div>
