<div class="container">
  <div class="row justify-content-between">
    <% case @test.name.downcase %>
      <% when 'liste de mots' %>
        <%= render "words_list/words_list_new" %>
      <% when 'test de la nasa' %>
        <%= render "nasa/nasa_new" %>
    <% end %>
  </div>
</div>
