<div class="modal fade" id="nasaSolution" tabindex="-1" aria-labelledby="nasaSolutionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="nasaSolutionLabel">La bonne réponse est:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% solution = JSON.parse @game.solution %>
        <% solutions = solution["solutions_list"] %>
        <% explanations = solution["explanations"] %>
        <table>
          <tr><th><strong>Réponses</strong></th> - <th><strong>Explications</strong></th></tr>
          <% solutions.each_with_index do |elt, index| %>
            <tr><td><%= elt %></td> - <td><%= explanations[index] %></td></tr>
          <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
