<div class="container d-flex flex-column align-items-center">
  <h1>Cliquez sur une categorie pour découvrir les taests associés:</h1>
  <% @categories.each do |category| %>
    <div class="row card-category" data-controller="category-animation" data-action="click->category-animation#animation">
      <div class="col-4 button-category buttons">
        <%= category.name.upcase %>
        <% test_count = Test.where(category_id: category).count %>
        <% if test_count > 0 %>
          <div class="test-info">
            <%= test_count %>
          </div>
        <% end %>
      </div>
      <% tests = Test.where(category_id: category) %>
      <% if tests.length > 0 %>
        <div class="col-4">
          <% tests.each do |test| %>
          <div class="buttons button-test">
            <%= link_to test_path(test.name) do %>
              <%= test.name.upcase %>
            <% end %>
          </div>
          <% end %>
        </div>
      <% else %>
        <div class="buttons button-test">
          Pas de test disponible pour le moment!
        </div>
      <% end %>
    </div>
  <% end %>
</div>
