<div class="container d-flex flex-column align-items-center">
  <h1>Cliquez sur une categorie pour découvrir les tests associés:</h1>
  <% @categories.each do |category| %>
    <div class="row card-category" data-controller="category-animation" data-action="click->category-animation#animation">
      <div class="col-4 button-category buttons">
        <%= category.name.upcase %>
        <% game_count = Game.where(category_id: category).count %>
        <% if game_count > 0 %>
          <div class="game-info">
            <%= game_count %>
          </div>
        <% end %>
      </div>
      <% games = Game.where(category_id: category) %>
      <% if games.length > 0 %>
        <div class="col-4">
          <% games.each do |game| %>
            <%= link_to game_path(game.name) do %>
              <div class="buttons button-game">
                <%= game.name.upcase %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="buttons button-game">
          Pas de test disponible pour le moment!
        </div>
      <% end %>
    </div>
  <% end %>
</div>
