<div class="container">
  <div class="row">
    <%= render 'tests/test_description' %>
    <%= link_to new_test_user_test_path(@test.name) do %>
      <div class="btn-ghost">
        Commencer le test
      </div>
    <% end %>
  </div>
</div>
