<div class="col-3 side-bar-admin d-flex flex-column align-items-center justify-content-around">

      <%= link_to "Users", admin_users_path ,class:"button-dark buttons #{'active' if @current_view == 'users'}" %>

      <%= link_to "Categories", admin_categories_path, class:"button-dark buttons #{'active' if @current_view == 'categories'}" %>

      <%= link_to "Games", admin_games_path, class:"button-dark buttons #{'active' if @current_view == 'games'}" %>


    <%= link_to "User Games", admin_user_games_path, class:"button-dark buttons #{'active' if @current_view == 'user games'}" %>

  </div>
