<div class="col-3 side-bar-admin d-flex flex-column align-items-center justify-content-around">
    <div class="button-dark buttons">
      <%= link_to admin_users_path do %>
        Users
      <% end %>
    </div>
    <div class="button-dark buttons">
      <%= link_to admin_categories_path do %>
        Categories
      <% end %>
    </div>
    <div class="button-dark buttons">
      <%= link_to admin_tests_path do %>
        Tests
      <% end %>
    </div>
    <div class="button-dark buttons">
      <%= link_to admin_user_tests_path do %>
        User Tests
      <% end %>
    </div>
  </div>
